.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff; /* Agregamos un color de fondo */
  padding: 20px; /* Agregamos un espacio de relleno */
}

.listaProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card {
  border: 1px solid #dddddd; /* Cambiamos el color del borde */
  border-radius: 10px;
  width: 300px;
  margin: 10px;
  padding: 20px; /* Agregamos un espacio de relleno */
  text-align: center;
  background-color: #f9f9f9; /* Agregamos un color de fondo */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agregamos una sombra */
}

.buscador-container {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px; /* Ajustamos el espacio de relleno */
  border-radius: 5px;
}

.buscador-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px; /* Ajustamos el espacio de relleno */
  border-radius: 5px;
}

.buscador-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px; /* Ajustamos el espacio de relleno */
  border-radius: 5px;
  margin-left: 10px; /* Ajustamos el margen izquierdo */
  cursor: pointer;
}

.buscador-button:hover {
  background-color: #0056b3;
}

